* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #f771bbdc, #570aa4);
  color: rgb(4, 70, 26);
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
}
